.fuzzy-search {
  margin-left: -15px;
  width: 102.5%;
  position: relative;
  float: left;
}

.fuzzy-search form {
    padding: 0px;
    margin: 25px 0px;
    float: none;
    font-size: 28px !important;
}

.fuzzy-search .dropdown-arrow {
  float: right;
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  top: 16px;
  right: 36px;
  vertical-align: middle;
}

.fuzzy-search label {
  margin: 15px 0px;
  display: block;
  font-weight: normal;
  font-size: 28px;
}

.fuzzy-search input {
    font-size: 16px;
    width: 100%;
    border: 1px solid #aaa;
    vertical-align: top;
    padding: 8px 12px;
    transition: .3s border;
    background-color: transparent;
    height: auto;
    color: #222;
    margin: 0px;
    border-radius: 0px;
}

.fuzzy-search input:hover, .fuzzy-search input:focus {
    border: 1px solid rgb(247, 168, 35);
    /*outline: none; */
}

.fuzzy-search .options {
    width: 100%;
    left: 0px;
    top: 106px;
}


.dropdownicon {
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px dashed #000000;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  display: inline-block;
}

.options {
  position: absolute;
  top: 65px;
  left: 220px;
  background: #ffffff;
  border: 1px solid #888888;
  border-top: 0px;
  width: 200px;
  z-index: 2;
}

.option {
  position: relative;
  cursor: pointer;
  display: block;
  border: none;
  height: auto;
  text-align: left;
  border-top: none;
  line-height: 1em;
  color: #000000;
  padding: 10px !important;
  font-size: 1em;
}

.option:hover {
   background: #f2f2f2;
}